@import "tailwindcss";

/* Global Styles */


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}
h1 {
  font-size: 36px; /* Example size for h1 */
}

h2 {
  font-size: 30px; /* Example size for h2 */
}

h3 {
  font-size: 24px; /* Example size for h3 */
}

h4 {
  font-size: 18px; /* Example size for h4 */
}

h5 {
  font-size: 14px; /* Example size for h5 */
}

h6 {
  font-size: 12px; /* Example size for h6 */
}

p {
  font-size: 16px; /* Example font size for paragraphs */
  line-height: 1.5; /* Example line height */
}

